@media screen and (min-width:0) and (max-width:767px){
  .no-mobile{
    display:none !important;
  }
  
  
}
@media screen and (min-width:768px) and (max-width:1023px){
  .no-tablet{
    display:none !important;
  }
}
@media screen and (min-width:1024px){
  .no-pc{
    display:none !important;
  }
  
}
@font-face {
  font-family: 'NanumSquareOTFR';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.eot);
  src: local('Nanum Square Regular'),
       local('NanumSquareR'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquareOTFB';
  font-style: bold;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.eot);
  src: local('Nanum Square Bold'),
       local('NanumSquareB'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquareOTFEB';
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.eot);
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.ttf) format('truetype');
 }
*{
  box-sizing:border-box;
  
}
a{
  text-decoration: none;
  color:inherit
}
a:active,
a:focus{
  color:inherit
}
#fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span{
  display:none;
  background-color:white;
  transition:background-color 0.3s;
}
#fp-nav ul li a span.black, #menu-line.black, .fp-slidesNav ul li a span.black{
  background-color:black;
}
.fp-tableCell{
  /* display:block; */
}
object{
  pointer-events: none;
}
html {
  width:100%;
}
body{
  margin:0;
  font-family: 'NanumSquareOTFR';
}
.tablet-section{
  display:none;
}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.float{
  float:left;
}
#loading-image{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgb(251,251,251);
  z-index:64000;
  display:table;
}
#loading-image-wrap{
  position: relative;
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}
#loading-image-wrap img{
  width:90%;
  max-width:700px;
}
#loading-image object{
  height:100%;
}
#loading-image #loading-trip{
  height:15px;
  margin-top:10px;
  width:25%;
  float:left;
  text-align:right;
}
#loading-image #loading-btoz{
  margin-top:10px;
  height:13px;
  width:25%;
  float:left;
}
#loading-image #loading-fox{
  margin-top:7px;
  height:20px;
  width:50%;
  float:left;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-name: tripImage;
  z-index:10
}
#loading-image #loading-fox object{
  background-color:black;
}
#loading-image #loading-dots-wrap{
  width:100%;
  display:block;
  position: absolute;
  width:100%;

  top:50%;
  margin-top:-10px;
  left:0;
  text-align:center;

}
@keyframes tripImage {
  0%{
    padding-left:0
  }
  50%{
    padding-left:10%
  }
  100%{
    padding-left:40%
  }

}
#loading-image .loading-dot{
  width:3px;
  height:3px;
  background-color: white;
  border-radius: 10px;
  margin-left:10px;
  margin-right:10px;
  display:inline-block;
  
}
.container{
  margin-left:auto;
  margin-right:auto;
}
header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
}
aside{
  
  position:fixed;
  top:0;
  width:100%;
  left:-1000px;
  background-color: rgba(0,0,0,0.5);
  height:100%;
  z-index:1501;
  transition:left 0.3s;
}
#aside{
  width:80%;
  background-color: black;
  height:100%;
  padding-left:48px;
  padding-top:48px;
}
aside.active{
  left:0;
}
.aside-item{
  color:white;
  font-family: NanumSquareOTFR;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #ffffff;
  padding-top:12px;
  padding-bottom:12px;
}
#header-wrap{
  height:48px;
  padding-top:12px;
  padding-bottom:12px;
  
  background:black;
}
.header-menu-btn{
  float:left;
  width:15%;
  height:100%;
  padding-left:14px;
  height:100%;
  line-height:24px;
  vertical-align: middle;
}
#header-logo{
  width:70%;
  float:left;
  text-align:center;
}
#header-logo img{
  height:24px;
  width:auto;
}
#header-menu{
  display:none;
  height: 33px;
  line-height:33px;
  vertical-align: middle;
  background-color:rgba(0,0,0,0.7);
  color:white;
  font-family: NanumSquareOTFB;
  font-size: 9.5px;
  text-align:center;
  /* padding-top:12px;
  padding-bottom:12px; */
}
#header-menu-wrap{
  display:inline-block;
}
.menu{
  margin-left:9px;
  margin-right:9px;
  cursor: pointer;
}
#ambition{
  /* padding-top:40%; */
  background-color:black;
  /* background-image:url('./image/001_background.jpg'); */
  background-position: bottom;
}
.section{
  width:100%;
  height:100%;
  background-size:cover;
  position:relative;
}
.section .fade-in{

  opacity: 0;
  transition: opacity 0.8s;
}
.section .fade-in{
  opacity: 1
}
.section-content-position{
  position:absolute;
  width:100%;;
  top:50%;
  margin-top:-150px;
}
.section-head{
  font-family: NanumSquareOTFB;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}
.eng-title{
  padding-top:14px;
  font-family: NanumSquareOTFB;
  font-size: 26px;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color:white;
}
.content{
  padding-top:24px;
  font-family: NanumSquareOTFR;
  font-size: 15px;
  line-height: 1.42;
  text-align: center;
  color:white;
}

.picture-wrap{
  float:left;
  text-align:center;
  padding-top:48px;
  width:100%;
  position:relative;
  height:100%;

}
.picture-content-wrap{
  position:absolute;
  width:100%;
  bottom:0;
}
#mobile-hotel-service-img img{
  width: 60%

}
.picture-title-wrap{
  
}
.picture img{
  width:70%;
  max-width:315px
}
@media screen and (min-width: 400px) {
  #mobile-hotel-service-img img{
    width: 70%
  
  }
  /* .picture-title-wrap{
    position: absolute;
    width: 100%;
    bottom: 72%;
  } */
  .picture img{
    width:80%;
    max-width:315px
  }

}
.picture-title{
  font-family: NanumSquareOTFEB;
  font-size: 22px;
}
.picture-sub-title{
  width:215px;
  display:inline-block;
  padding-top:4px;
  padding:15px;
  border-radius:5px;
  
  font-family: NanumSquareOTFR;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.44;
  text-align: center;
  color: #383838;
}
.picture{
  width:100%;
  text-align:center;
}


.mobile-box-shadow{
  -webkit-box-shadow: -2px -4px 5px 2px rgba(187,187,187,0.75);
  -moz-box-shadow: -2px -4px 5px 2px rgba(187,187,187,0.75);
  box-shadow: -2px -4px 5px 2px rgba(187,187,187,0.75);
}
.button-section{
  text-align:center;
  padding-bottom:15px;
}
.button{
  cursor: pointer;
  display:inline-block;
  width: 240px;
  height: 48px;
  border-radius: 24px;
  background-color: #ffffff;
  line-height:48px;
  vertical-align: middle;
  font-family: NanumSquareOTFB;
  font-size: 14px;
}
#ambition-title{
  color: #ffffff;
  font-family: NanumSquareOTFB;
  font-size: 26px;
}
#ambition .content{
  color:white;
  padding-top:24px;
}
/* #hotel-service-top{
  /* padding-top:70px; */
  /* position: absolute;;
  bottom: 50%; */
/* } */
#hotel-service .title{
  font-family: NanumSquareOTFB;
  font-size: 26px;
  text-align: center;
  color: #373737;
}
#hotel-service .content{
  padding-top:24px;
  
  font-size: 15px;
}
.mobile-section{
  position: relative;
  
}
.content-bottom{
  position:absolute;
  bottom:0;
}
#mobile-hotel-service-img{
  padding-top:10px;
}
#hotel-service-picture{
  display:none;
  width:260px;
  margin-left:auto;
  margin-right:auto;
}

#vision{
  background-color:black;
  background-size:auto 120%;
}
#vision .section-head{
  
}
#vision .content{
  padding-top:15px;
  font-family: NanumSquareOTFB;
  font-size: 15px;
}
#vision .button-section{
  padding-top:24px;
}
#definition{
  /* padding-top: 33px; */
  background-size: cover;
  /* padding-bottom:20px; */
}
#definition .upper{
  height: 42%;
  display:table;
  width:100%;

}
.upper.definition{
  background-color: rgba(0,0,0,0.2);
}
#definition .upper .upper-content-section{
  display:table-cell;
  vertical-align: middle;
  
}

#definition .upper .content{
  padding-top:10px;

}
#definition .button-section{
  padding-top:15px;
}

#definition #value{
  height:58%;
  padding-top:12px;
  background-color:rgba(255,255,255,0.6);
  position:relative;
}
#value .section-content-position{
  margin-top:-180px;
}
#value-title{
  font-family: NanumSquareOTFB;
  font-size: 26px;
  text-align: center;
  color: #202020;
}
#value-content{
  /* padding-bottom:52px; */
}
#value-content-header{
  font-family: NanumSquareOTFB;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: -0.3px;
  text-align: left;
  color: #202020;
}
.value-section-title{
  padding-top:12px;
  font-family: NanumSquareOTFEB;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
  padding-bottom:8px;
}
.value-section-content{
  font-family: NanumSquareOTFR;
  font-size: 14px;
  color:#202020;
  text-align:center;
  letter-spacing: -0.37px;
  line-height:1.3;
}
#career{
  /* padding-top:193px;
  padding-bottom:34px; */
}
#career-title{
  line-height:1.03;
  font-size:24px;
  
}
#career{
  /* background-image:url('./image/004_background.jpg') */
}
#career .content{
  padding-top:23px;
}
#career .button-section{
  padding-top:24px;
  padding-bottom:0;
}
#join{
  background-repeat: no-repeat;
  background-color:rgba(0,0,0,0.2);
  padding-bottom:25px;
  /* background-image:url('./image/005_background.jpg'); */
  background-size: auto 100%;
  background-position-x: 22%;
  position:relative;
}
#join-bottom-image{
  width:100%; 
  height:auto;
  position:absolute;
  bottom:0;
  left:0;
  z-index:0;
}
#join-title{
  color:black;
  line-height: 1.03;
}
#join .content{
  padding-top:23px;
  color:black;
}
#join .button-section{
  padding-top:38px;
}

#contact{
  background-color:white;
  background-size: 150% auto;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#contact-title{
  padding-top:14px;
  line-height:1.3;
  font-family: NanumSquareOTFB;
  font-size: 26px;
}
#contact .content{
  padding-top:20px;
  font-family: NanumSquareOTFR;
}
.second-content-wrap{
  text-align:center;
  padding-top:11px;
  line-height:1.4;
  font-family: NanumSquareOTFR;
}
.second-content{
  color:white;
  display: inline-block;
  font-size:13px;
  font-family: NanumSquareOTFB;
  
}
.contact-key{
  line-height: 1.53; 
  width: 35px;
  font-family: NanumSquareOTFEB;
  font-size: 7.5px;
  text-align: left;
}
.contact-value{
  font-family: NanumSquareOTFR;
  font-size: 7.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
footer{
  position: absolute;
  padding-top:30px;
  padding-bottom: 15px;
  bottom:0;
  background-color: white;
  width: 100%;
}
#contact .section-content-position1{
  padding-bottom:200px;
}
footer #footer-mobile{
  width: 315px;
  font-family: NanumSquareOTFR;
  font-size: 9px;
  line-height: 1.67;
  text-align: left;
  color: #454545;
}
#company-name{
  color:#e11282; 
  font-family: NanumSquareOTFB;
  padding-bottom:12px;
  font-size: 12px;
  letter-spacing: -0.4px;
}
.to-service-button-mobile{
  cursor: pointer;
  margin-top:-2px;
  border-radius:9px;
  height:18px;
  border:solid 1px #e11282;
  padding: 2px 10px;
  font-family: NanumSquareOTFB;
  font-size: 10px;
  margin-left:12px;
}
#footer-content{
  font-family: NanumSquareOTFR !important;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: -0.6px;
  color: #5e5e5e;

}
.footer-item{
  border-left: 1px solid black;
  margin-left:5px;
  padding-left:5px;
}
.icon-list{
  max-width:100%;
  list-style:none;
  width:315px;
  padding-left:0;
}
.icon-item{
  margin-right:18px;
  float:left;
  cursor:pointer;
}
.icon-item a{
  display:inline-block;
  width:100%;
  height:100%;
}
#modal{
  z-index:-100;
  opacity:0;
  width:100%;
  height:100%;
  display:table;
  position:fixed;
  left:0;
  
  right:0;
  top:0;
  bottom:0;
  background-color:rgba(0,0,0,0.4);
  
  transition:opacity 0.3s;
}
#modal.show{
  opacity:1;
  z-index:2000;
}
#modal-content-wrap{
  display:table-cell;
  vertical-align: middle;
  
}
#modal-content{
  
  /* width: 332px; */
  height: 500px;
  border-radius: 14px;
  overflow:hidden;
  box-shadow: 0 0 5px 0 rgba(1, 2, 2, 0.75);
  margin-left:20px;
  margin-right:20px;;
}
#modal-close-btn-wrap{
  text-align:right;
  padding-right:20px;
}
#modal-close-btn{
  cursor: pointer;
  display:inline-block;
  width: 45px;
  height: 45px;
  border-radius:200px;
  /* line-height:45px; */
  /* vertical-align: middle; */
  /* text-align:center; */
  color: #ffffff;
  /* font-size:18px; */
}
#modal-close-btn i{
  font-size:30px;
  padding-top:10px;
}
#modal-vision{
  width:100%;
  height:100%;
  position:relative
}
#modal-vision-img{
  width:100%;
  background-size: 100% auto;
  background-position: 100% 100%;
  height:160px;
  background-image:url('./image/003_banner.jpg');
  background-size: cover
}
#modal-vision-content{
  font-family: NanumSquareOTFB;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.31px;
  overflow:auto;
  padding-left:24px;
  padding-right:24px;
  padding-bottom:10px;
  height:70%;
  background-color:white;
  position:relative;
}
.modal-content-title{
  font-family: NanumSquareOTFB;
  font-size: 24px;
  letter-spacing:-0.4px;
}
.modal-content-bold{
  margin-top: 18px;
  font-family: NanumSquareOTFB;
}
.modal-content-regular{
  font-family: NanumSquareOTFR;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.31px;
  color: #000000;
  padding-bottom:20px;
  word-break:keep-all;
  
}
#modal-content-regular-shadow{
  position:absolute;
  display:block;
  content:'';
  width:100%;
  height:30px;
  left:0;
  bottom:0;
  border-radius: 14px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}
#modal-value{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
}

.modal-value-button{
  position: absolute;
  width:7px;
  height:13px;
  z-index:10;
  top:50%;
  margin-top:-7px;
  
}
.modal-value-button.left{
  left: 5px;
}
.modal-value-button.right{
  right:5px;
}
.modal-value-content{
  width:300%;
  height:100%;
  overflow: hidden;
  transition: margin-left 0.3s
}
.value-img{
  width:33.333333333%;
  height:100%;
  float:left;
  position:relative;
  line-height:100%;
  vertical-align: middle;
  background-color:white;
}
.value-img .first{

  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display:block;
}
#modal-path-content .first{
  padding-top:0;
  padding-bottom:0;
}
.value-img .second{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 90px;
}
.value-four-image {
  width: 50%;
  height: 40%;
  float: left;
  text-align:center;
}
.value-four-image.right{
  text-align:right;
}
.value-four-image.left{
  text-align:left;
}
.value-four-image.margin{
  margin-top:10%;
}
.value-four-image img{
  height:100%;
  width:auto;
}
#modal-value-paging{
  position: absolute;
  bottom: 15px;
  width:100%;
  text-align:center;
  font-family: NanumSquareOTFB;
  font-size: 15px;
  color: #414042;
}
.modal-header-title{
  padding-top:25px;
  font-family: NanumSquareOTFB;
  font-size: 15.5px;
  text-align: center;
  color: #000000;
}
.modal-header-line-wrap{
  padding-top:7px;
  text-align:center;
  padding-bottom:8px;
}
.modal-header-line{
  display:inline-block;
  width:48px;
  height:3px;
  background-color:rgba(0,0,0,0.6)
}
.modal-header-sub-title{
  font-family: NanumSquareOTFB;
  font-size: 11px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
#modal-career{
  background-color:white;
  height:100%;
}
#modal-career .modal-header-title{
  font-family: NanumSquareOTFEB;
  padding-top:30px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
  color: #000000;
}
#modal-career .modal-header-sub-title{
  font-family: NanumSquareOTFB;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
#modal-path{
  height:100%;
  position:relative;
}
#modal-path-content{
  height:100%;
  width:100%;
  background-color:white;
   
  /* height:100%; */
}
#path-image-wrap{
  position: absolute;
  width:100%;
  top: 50%;
  margin-top: -120px;
  line-height:100%;
  vertical-align: middle;
  height:100%;
}
.modal-career-content{
  text-align:center;
  padding-top:20px;
  padding-bottom:10px;
  width: 160px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.modal-career-item{
  width:245px;
  display:inline-block;

}
.modal-career-item::after{
  content:'';
  display:block;
  clear:both;
}
.modal-career-item-img{
  width: 48px;
  height: 66px;
  padding-top:10px;
  float:left;
  line-height:66px;
  vertical-align: middle;
}
.modal-career-item-img img{
  border-radius:33px;
  width: 48px;
  height: 48px;
}
.modal-career-item-wrap{
  display:table;
  float:left;
  height:66px;
  width:70%;
}
.modal-career-item-text{
  display:table-cell;
  vertical-align: middle;
  padding-left:10px;
}
.modal-career-item-title{
  font-family: NanumSquareOTFB;
  font-size: 15px;
  text-align: left;
  color: #000000;
}
.modal-career-item-content{
  font-family: NanumSquareOTFR;
  font-size: 10px;
  line-height: 1.35;
  text-align: left;
  color: #000000;
  
}
#career-button-wrap{
  width:100%;
  text-align: center;
}
#career-button{
  display:inline-block;
  width: 240px;
  height: 48px;
  border-radius: 24px;
  background-color: #000000;
  color:white;
  cursor: pointer;
  text-align: center;
  line-height:48px;
  vertical-align: middle
}

.triangle{
  margin-top:7px;
  margin-left: 70px;
  width:5px;
  height:10px;
  border:6px solid transparent;
  border-top:10px solid #b3b3b3;
}


@media screen and (min-width: 768px) {
  .mobile-section{
    display:none;
  }
  body{
    
    
  }
  #body{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow:scroll;
    -webkit-overflow-scrolling: scroll;
  }
  aside{
    left: -1000px;
  }
  #aside{
    width:300px;
  }
  .eng-title{
    
    line-height:1.2;
  }
    

  #header-container{
    width:100%;

  }
  #header-logo{
    float:left;
    height:100%;
    
  }
  #header-logo img{
    margin-top: 34px;
    height:40px;
  }
  #header-menu{
    display:none;
    float:right;
    padding-top:50px;
  }
  .menu{
    font-size:14px;
  }
  .section{
    min-height:400px;
    /* padding-top:60px !important; */
  }
  .section-head{
    font-size: 14px;
    line-height: 0.94;
    padding-bottom:10px;
    
  }
  .eng-title{
    font-size:48px !important;
  }
  .content{
    padding-top:10px;
    font-size:24px !important;
    line-height:1.6;
    font-family: NanumSquareOTFR !important;
  }
  #hotel-service-top{
    width:100%;
  }
  #mobile-hotel-service-img{
    padding-top:50px;
  }
  #mobile-hotel-service-img img{
    max-width:430px;
  }
  #hotel-service .content{
    padding-top:10px;
    font-size:24px;
    line-height:1.6;
    font-family: NanumSquareOTFR;
  }
  .button{
    width: 240px;
    height: 48px;
    border-radius: 24px;

    background-color: #ffffff;
    border-radius: 99px;
    font-family: NanumSquareOTFB;
    font-size: 14px;
    line-height: 48px;
    vertical-align: middle;
  }
  .second-content *{
    font-size:14px;
    
  }
  .contact-key{
    width:50px;
  }
  #hotel-service-picture{
    width:540px;
  }
  #hotel-service .title{
    font-size:40px; 
  }
  .picture-wrap{
    padding-top:0;
    width:100%;
    height:50%;
    position: relative;;
    background-image: linear-gradient(to bottom, #ffffff, #e4e4e4);
  }
  .picture,
  .picture-title-wrap{
    width:50%;
    float:right;
  }
  .picture-title-wrap{
    text-align:left;
  }
  .picture-title{
    padding-top:150px;
  }
  .picture-sub-title{
    text-align:left;
    width:100%;
    font-size:20px;
    padding:15px;
    padding-left:0;
  }
  @media screen and (min-height: 870px) {
    .picture img{
      max-width:250px;
    }
  }
  .picture .mobile-box-shadow{
    display:none;
  }
  #footer-tab-pc{
    color:#5e5e5e;
    width:750px;
    font-family: NanumSquareOTFR;
    font-size: 20px;
    line-height: 1.55;
    text-align: left;
  }
  .icon-list{
    width:760px;
    
  }
  .icon-item{
    transform:scale(1);
    margin-right:5px;
  }
  #modal-content{
     width:80%;
     height: 520px;
     margin-left:auto;
     margin-right:auto;
  }
  #modal-vision{
    
  }
  #modal-vision-img{
    float:left;
    width:35%;
    height:100%;
    background-image:url('./image/003_banner.jpg');
    background-size: cover
  }

  #modal-vision-content{
    height:100%;
    float:left;
    width:65%;
    font-family: NanumSquareOTFR;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-left:40px;
    padding-right:40px;
  }
  .modal-content-title{
    font-family: NanumSquareOTFB;
    font-size: 30px;
    padding-bottom:30px;
  }
  #modal-content-regular-shadow{
    width:70%;
    margin-left:35%;
  }
  #modal-close-btn-wrap{
    padding-right:10%;
  }
  .value-img{
    padding-left:1%;
    padding-right:1%;
  }
  .value-img .first{
    
    /* padding-top: 120px; */
  }
  #path-image-wrap{
    margin-top:-170px;
  }
  .value-img .second{
    padding-top: 50px;
  }
  .value-four-image{
    margin:0 !important;
    width:25%;
    height:100%;
    
  }
  .value-four-image img{
    margin-top: 110px;
    width:100%;
    height:auto;
  }
  .modal-header-title{
    padding-top:50px;
    font-size: 30px;
    
  }
  .modal-header-line{
    height:3px;
    width:54px;
  }
  .modal-header-sub-title{
    font-size: 18px;
  }
  .modal-career-content{
    width:300px;
    padding-top:0;
  }
  .modal-career-item{
    width:300px;
  }
  .modal-career-item-img{
    width:90px;
    height:90px;
  }
  .modal-career-item-img img{
    width:80px;
    height:80px;
    border-radius:100px;
  }
  /* .modal-career-content{
    padding-left:10px;
    padding-right:10px;
    padding-top: 60px;
  }
  .modal-career-content::after{
    content:'';
    display:block;
    clear:both;
  }
  .modal-career-item{
    width:21%;
    margin-left:1%;
    margin-right:1%;
    float:left;
  } */
  
  /* .modal-career-item-img{
    width:auto;
    height:auto;
  }
  .modal-career-item-wrap{
    width:100%;
    
  }
  .modal-career-item-wrap *{
    text-align:center;
  } */
  .triangle-wrap{
    width:2%;
    float:left;
  }
  .triangle{
    margin-top: 70px;
    margin-left:0;
    border:6px solid transparent;
    border-left:10px solid #b3b3b3
  }
  .modal-career-item-title{
    font-size:18px;
    padding-top:16px;
  }
  .modal-career-item-content{
    padding-top:20px;
    font-size:15px;
    text-align:left;
  }
  #join-text-section{
    position:relative;
    z-index:10
  }
  #join-bottom-image{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -85px;
    left: 0;
  }
}

@media screen and (min-width:1024px) {
  #fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span{
    display:block
  }
  aside{
    display:none;
  }
  header{
    background-color: black;
  }
  #header-container{
    width:1024px;
    padding-top: 30px;
  }
  .header-menu-btn{
    display:none;
  }
  #header-wrap{
    width:30%;
    float:left;
  }
  #header-logo{
    text-align:left;
    padding-left:10px;
  }
  #header-menu{
    padding-top:10px;;
    float:left;
    width:70%;
    display:block;
    text-align:right;
  }
  .float-right{
    float:right;
  }
  .content{
    padding-top: 23px !important;
  }
  #ambition #mouse-icon{

    width: 40px;
    height: 63px;
    border-radius: 28px;
    border: 2px solid white;
    position: absolute;
    bottom: 110px;
    left: 50%;
    margin-left: -15px;
  }
  #ambition #mouse-moving{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -5px;
    animation-name: mouseMoving;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes mouseMoving{
    0% {
      top: 10px
    }
    75% {
      top: 40px;
      opacity: 0;
    }
    100%{
      top:40px;
      opacity: 0;
    }
  }

  #ambition{
    min-height:500px;
  }
  #ambition-title{
    height:205px;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
  }
  .eng-title{
    font-size: 75px !important;
  }
  #ambition .content{
    
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
    width: 467px;
    height: 122px;
  }
  #hotel-service{
    /* padding-top:15%; */
    background-image: linear-gradient(to bottom, #ffffff, #e4e4e4);
  }
  .tablet-section,
  .mobile-section{
    display:none;
  }
  #hotel-service-picture{
    width:960px;
    display:block;
    
  }
  .picture-title{
    padding-top:30px;
  }
  .picture-sub-title{
    font-family: NanumSquareOTFB;
    padding-right:0;
    font-size:15px;
    letter-spacing:-0.7px;
    text-align:center;
  }
  .picture-wrap{
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    background-image: none;
  }
  .mobile-box-shadow{
    display:none;
  }
  #mobile-hotel-service-img{
    display:none;
  }
  #definition{
    padding-top:0 !important;
    padding-bottom:0 !important;
    background-position:0
  }
  #definition .upper{
    width:50%;
    height:100%;
    float:left;
    position:relative;
  }
  #definition #vision-title{
    font-size: 50px !important;
  }
  #definition .content{
    padding-top: 70px;
  }
  #definition #value{
    width:50%;
    height:100%;
    float:left;
    position:relative;
    background:rgba(255,255,255,1)
  }
  #value-title{
    margin-left:100px;
    text-align:left;
  }
  #value-content{
    margin-left:100px;
    width:400px;
    margin-right:auto;
    
  }
  #value-content * {
    text-align:left;
  }
  #footer-tab-pc{
    width:1024px;
  }
  .value-img .first{
    width:100%;

    padding-top:70px;  
  }
  #path-image-wrap.value-img{
    margin-top: -230px;
  }
  #path-image-wrap.value-img .first{
    padding-top: 0;
  }
  .value-img .second{
    height: 80%;
    width: auto;
  }
  .value-four-image img{
    margin-top:70px;
  }
  #modal-career .modal-header-sub-title{
    font-family: NanumSquareOTFB;
    font-size: 20px;
  }
  .modal-career-item{
    float:left;
    width:25%;
  }
  #modal-content{
    max-width:1000px;
    /* height:auto; */
    /* max-height:650px; */
  }
  #modal-close-btn-wrap {
    padding-right: 0;
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-career-content{
    width:100%;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
    height: 60%;
    padding-top: 4%;
  }
  .modal-career-content::after{
    content:'';
    display:block;
    clear:both;
  }
  .modal-career-item-img{
    display:inline-block;
    float: initial;
    width:156px;
    height:156px;
    border-radius:200px;
  }
  .modal-career-item-img img{
    width:100%;
    height:100%;
  }
  .modal-career-item-title,
  .modal-career-item-content{
    text-align:center;
  }
  .modal-career-item-wrap{
    width:100%;
  }
  #contact .section-content-position1{
    padding-bottom:100px;
  }
  footer{
    
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color:white;
    font-size:12px;
    /* padding-top:12px; */
    padding-bottom:12px;
  }
  footer #footer-tab-pc{
    width:900px;
    font-size:12px
  }
  .icon-list{
    width:900px;
  }
  #join{
    overflow:hidden;
  }
  #join-bottom-image{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -285px;
    left: 0;
  }
  #contact{
    background-size:100% auto;
    background-position: -50%
  }
  #footer-icon-container{
    width:900px;
  }
  #sns-icon-container{
    float:left
  }
  .icon-list{
    width:50%;
  }
  .icon-item{
    margin-right:32px;;
  }
  #app-link-container{
    float:right;
    width: auto;
  }
}
@media screen and (min-width:1200px){
  #header-container{
    width:1100px;
  }
  .section-head{
    font-size:18px;
  }
  #value .section-content-position{
    margin-top:-240px;
  }
  .eng-title{
    font-size: 89px;
  }
  .section,
  #ambition.section{
    height:800px;
  }
  
  #ambition .content{
    
    font-size: 26.5px;
  }
  #ambition-title{
    /* padding-top: 150px; */
  }
  #ambition .title{
    
  }
  #hotel-service{
    position:relative;
    padding-top:0;
    height:1000px;
  }
  #hotel-service #hotel-service-top{
    position:absolute;
    top:120px;
    width:100%;
    background:transparent;
    /* margin-top: -260px; */
  }
  #hotel-service .title{
    font-size: 48.5px;
    padding-top:50px;
  }
  #hotel-service .content{
    font-size: 28.5px;
    padding-top:22px;
    padding-bottom:48px;
  }
  #hotel-service-picture{
    width:1100px;
    position: absolute;
    left: 50%;
    /* max-height: 500px; */
    bottom: 0;
    margin-left: -550px;
  }
  .picture-sub-title{
    font-size:20px;
  }
  #vision{
    width:100%;
  }
  #value{
    float:left;
    width:50%;
  }
  #definition{
    
  }

  #definition .eng-title{
    font-size:80px;
  }
  #definition .content{
    padding-top:115px;
    font-size: 26.5px;
  }

  #value .container{
   
    min-width:555px;
  }
  #value-title{
    font-size: 47px;
  }
  #value-content-header{
    font-size:29px;
    line-height: 1.23;
    letter-spacing: -0.6px;
    padding-bottom:15px;
  }
  .value-content{
    padding-top:25px;
  }
  .value-section-title{
    padding-top:28px;
  }
  .value-section-title,
  .value-section-content{
    font-size:19px;
    line-height:30px;
  }
  #join{
    background-size: cover;
    /* padding-top:200px !important; */
  }
  #join-text-section{
    position:relative;
    z-index:10
  }
 
  /* #career,
  #contact,
  .value-img .first{
    /* padding-top:20px; */
    /* max-height:530px;
    width:auto;
  } */
  .value-four-image img {
    margin-top: 20px;
    max-width: 260px;
  }
  .modal-career-content{
    max-width:1000px;
  }
  .modal-career-content{
    padding-top:5%
  }
}