@media screen and (min-width:0) and (max-width:767px){
  .no-mobile{
    display:none !important;
  }
}
@media screen and (min-width:768px) and (max-width:1200px){
  .no-tablet{
    display:none !important;
  }
  
}
@media screen and (min-width:1200px){
  .no-pc{
    display:none !important;
  }
  
}
@font-face {
  font-family: 'NanumSquareOTFR';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.eot);
  src: local('Nanum Square Regular'),
       local('NanumSquareR'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquareOTFB';
  font-style: bold;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.eot);
  src: local('Nanum Square Bold'),
       local('NanumSquareB'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquareOTFEB';
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.eot);
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.woff) format('woff'),
       url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.ttf) format('truetype');
 }

*{
  box-sizing:border-box;
  font-family: 'NanumSquareOTFR';
}

body{
  margin:0;
  padding-top:70px;
}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.float{
  float:left;
}
.container{
  margin-left:auto;
  margin-right:auto;
}
header{
  position:fixed;
  top:0;
  left:0;
  right:0;
}
#header-logo{
  height:70px;
  text-align:center;
  background:black;
  padding-top:5px;
}
#header-logo img{
  height:55px;
  width:auto;
}
#header-menu{
  
  height: 33px;
  line-height:33px;
  vertical-align: middle;
  background-color:rgba(0,0,0,0.7);
  color:white;
  font-family: NanumSquareOTFB;
  font-size: 9.5px;
  text-align:center;
  /* padding-top:12px;
  padding-bottom:12px; */
}
#header-menu-wrap{
  display:inline-block;
}
.menu{
  margin-left:9px;
  margin-right:9px;
  cursor: pointer;
}
#ambition{
  height:233px;
  background-color:black;
  background-image:url('./image/001_background.jpg');
  background-position: bottom;
}
.section{
  background-size:cover;
}
.section .fade-in{

  opacity: 0;
  transition: opacity 0.8s;
}
.section.active .fade-in{
  opacity: 1
}
.section-head{
  font-family: NanumSquareOTFR;
  font-size: 9px;
  line-height: 0.94;
  text-align: center;
  color: #ffffff;
}
.eng-title{
  
  text-shadow: 0 0 2px rgba(1, 2, 2, 0.4);
  font-family: NanumSquareOTFB;
  font-size: 36px;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color:white;
}
.content{
  font-family: NanumSquareOTFR;
  font-size: 12px;
  line-height: 1.42;
  text-align: center;
  color:white;
}
#hotel-service-picture{
  width:260px;
  margin-left:auto;
  margin-right:auto;
}
.picture-wrap{
  float:left;
  text-align:center;
  padding-top:35px;
  width:100%;
}
.picture-title{
  display:inline-block;
  padding-top:4px;
  padding:15px;
  border-radius:5px;
  background-color:rgb(228,228,228);
  font-family: NanumSquareOTFB;
  font-size: 15px;
  line-height: 1.44;
  text-align: center;
  color: #383838;
}
.mobile-box-shadow{
  -webkit-box-shadow: -2px -4px 5px 2px rgba(187,187,187,0.75);
  -moz-box-shadow: -2px -4px 5px 2px rgba(187,187,187,0.75);
  box-shadow: -2px -4px 5px 2px rgba(187,187,187,0.75);
}
.button-section{
  text-align:center;
  padding-bottom:15px;
}
.button{
  cursor: pointer;
  display:inline-block;
  width: 125px;
  height: 17px;
  background-color: #ffffff;
  border-radius:8.5px;
  font-family: NanumSquareOTFB;
  font-size: 7px;
  line-height: 1.64;
}
#ambition-title{
  padding-top:60px;
  color: #ffffff;
}
#ambition .content{
  color:white;
  
}
#hotel-service{
  padding-top:25px;
}
#hotel-service .title{
  font-size:20px;
  font-family: NanumSquareOTFB;
  text-align: center;
  color: #373737;
}
#hotel-service .content{
  padding-top:16px;
}

#vision{
  background-color:black;
  background-image:url('./image/002_background.jpg')
}
#vision .section-head{
  padding-top:25px;
}
#vision .content{
  padding-top:15px;
}
#vision .button-section{
  padding-top:68px;
}
#definition{
  
  padding-top:33px;
  background-image:url('./image/003_background.jpg')
}
#definition .button-section{
  padding-top:60px;
}

#value{
  padding-top:44px;
  
}
#value .container{
  width:245px;
}
#value-title{
  font-family: NanumSquareOTFB;
  font-size: 20.5px;
  text-align: left;
  color: #202020;
}
#value-content{
  padding-top:30px;
  padding-bottom:52px;
}
#value-content-header{
  font-family: NanumSquareOTFB;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: -0.3px;
  text-align: left;
  color: #202020;
}
.value-section-title{
  padding-top:15px;
  font-size:11px;
  font-family: NanumSquareOTFEB
}
.value-section-content{
  padding-top:3px;
  font-family: NanumSquareOTFR;
  font-size:11px;
  line-height:16.5px;
  color:#202020
}
#career{
  padding-top:38px;
  padding-bottom:34px;
}
#career-title{
  line-height:1.03;
}
#career{
  background-image:url('./image/004_background.jpg')
}
#career .content{
  padding-top:23px;
}
#career .button-section{
  padding-top:90px;
  padding-bottom:0;
}
#join{
  background-color:rgba(0,0,0,0.2);
  padding-top:32px;
  padding-bottom:25px;
  background-image:url('./image/005_background.jpg')
}
#join-title{
  color:black;
  line-height: 1.03;
}
#join .content{
  padding-top:15px;
  color:black;
}
#join .button-section{
  padding-top:38px;
}

#contact{
  padding-top:38px;
  padding-bottom:80px;
  background-color:black;
  padding-top:3;
  background-image:url('./image/006_background.jpg')
}
#contact-title{
  padding-top:12px;
  line-height:1.03
}
#contact .content{
  padding-top:20px;
}
.second-content-wrap{
  text-align:center;
  padding-top:11px;
}
.second-content{
  color:white;
  display: inline-block;
  
}
.contact-key{
  line-height: 1.53; 
  width: 35px;
  font-family: NanumSquareOTFEB;
  font-size: 7.5px;
  text-align: left;
}
.contact-value{
  font-family: NanumSquareOTFR;
  font-size: 7.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
footer{
  padding-top:24px;
  padding-bottom:37px;
}
footer #footer-mobile{
  width: 241px;
  font-family: NanumSquareOTFR;
  font-size: 9px;
  line-height: 1.67;
  text-align: left;
  color: #454545;
}
.icon-list{
  max-width:100%;
  list-style:none;
  width:250px;
  padding-left:0;
}
.icon-item{
  float:left;
  margin-right:0px;
  transform: scale(0.8)
}
#modal{
  z-index:-100;
  opacity:0;
  width:100%;
  height:100%;
  display:table;
  position:fixed;
  left:0;
  
  right:0;
  top:0;
  bottom:0;
  background-color:rgba(0,0,0,0.4);
  
  transition:opacity 0.3s;
}
#modal.show{
  opacity:1;
  z-index:2000;
}
#modal-content-wrap{
  display:table-cell;
  vertical-align: middle;
  
}
#modal-content{
  width: 332px;
  height: 500px;
  border-radius: 3.1px;
  box-shadow: 0 0 5px 0 rgba(1, 2, 2, 0.75);
  background-color: #ffffff;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
}
#modal-close-btn-wrap{
  padding-top:20px;
  text-align:center;
}
#modal-close-btn{
  cursor: pointer;
  display:inline-block;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 13px 0 rgba(5, 5, 5, 0.75);
  background-color: #e1e1e1;
  border-radius:200px;
  line-height:45px;
  vertical-align: middle;

}
#modal-vision{
  width:100%;
  height:100%;
}
#modal-vision-img{
  width:100%;
  height:150px;
  background-image:url('./image/003_banner.png');
  background-size: cover
}
#modal-vision-content{
  font-family: NanumSquareOTFB;
  font-size: 11.5px;
  overflow:auto;
  padding-left:24px;
  padding-right:24px;
  padding-bottom:10px;
  height:70%;
  line-height:2;
}
.modal-content-title{
  font-family: NanumSquareOTFB;
  font-size: 19.5px;
}
.modal-content-bold{
  font-family: NanumSquareOTFB;
}
#modal-value{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
}

.modal-value-button{
  position: absolute;
  width:7px;
  height:13px;
  z-index:10;
  top:50%;
  margin-top:-7px;
  
}
.modal-value-button.left{
  left: 5px;
}
.modal-value-button.right{
  right:5px;
}
.modal-value-content{
  width:300%;
  height:100%;
  overflow: hidden;
  transition: margin-left 0.3s
}
.value-img{
  width:33.333333333%;
  height:100%;
  float:left;
  position:relative;
  line-height:100%;
  vertical-align: middle
}
.value-img .first{

  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display:block;
}
.value-img .second{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 90px;
}
.value-four-image {
  width: 50%;
  height: 40%;
  float: left;
  text-align:center;
}
.value-four-image.right{
  text-align:right;
}
.value-four-image.left{
  text-align:left;
}
.value-four-image.margin{
  margin-top:10%;
}
.value-four-image img{
  height:100%;
  width:auto;
}
#modal-value-paging{
  position: absolute;
  bottom: 15px;
  width:100%;
  text-align:center;
  font-family: NanumSquareOTFB;
  font-size: 15px;
  color: #414042;
}
.modal-header-title{
  padding-top:25px;
  font-family: NanumSquareOTFB;
  font-size: 15.5px;
  text-align: center;
  color: #000000;
}
.modal-header-line-wrap{
  padding-top:24px;
  text-align:center;
  padding-bottom:8px;
}
.modal-header-line{
  display:inline-block;
  width:30px;
  height:3px;
  background-color:rgba(0,0,0,0.6)
}
.modal-header-sub-title{
  font-family: NanumSquareOTFB;
  font-size: 11px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.modal-career-content{
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
}
.modal-career-item{
  width:245px;
  display:inline-block;

}
.modal-career-item::after{
  content:'';
  display:block;
  clear:both;
}
.modal-career-item-img{
  width: 66px;
  height: 66px;
  border-radius:33px;
  float:left;
}
.modal-career-item-img img{
  width:100%;
  height:100%;
}
.modal-career-item-wrap{
  display:table;
  float:left;
  height:66px;
  width:70%;
}
.modal-career-item-text{
  display:table-cell;
  vertical-align: middle;
  padding-left:10px;
}
.modal-career-item-title{
  font-family: NanumSquareOTFB;
  font-size: 15.5px;
  text-align: left;
  color: #000000;
}
.modal-career-item-content{
  font-family: NanumSquareOTFR;
  font-size: 10px;
  line-height: 1.35;
  text-align: left;
  color: #000000;
}
.triangle{
  margin-top:7px;
  margin-left: 70px;
  width:5px;
  height:10px;
  border:6px solid transparent;
  border-top:10px solid #b3b3b3;
}


@media screen and (min-width: 768px) {
  .eng-title{
    line-height:1.2;
  }
  header{
    height:92px;
    background-color:black;
  }

  #header-container{
    width:750px;
  }
  #header-logo{
    float:left;
    height:100%;
    
  }
  #header-logo img{
    margin-top: 34px;
    height:40px;
  }
  #header-menu{
    float:right;
    padding-top:50px;
  }
  .menu{
    font-size:14px;
  }
  .section{
    min-height:400px;
    padding-top:60px !important;
  }
  .section-head{
    font-size: 14px;
    line-height: 0.94;
    padding-bottom:10px;
    
  }
  .eng-title{
    font-size:48px;
  }
  .content{
    padding-top:10px;
    font-size:16px;
    line-height:1.6
  }
  .button{
    width: 200px;
    height: 25px;
    border-radius: 99px;
    font-family: NanumSquareOTFB;
    font-size: 13px;
    line-height: 25px;
    vertical-align: middle;
  }
  .second-content *{
    font-size:14px;
    
  }
  .contact-key{
    width:50px;
  }
  #hotel-service-picture{
    width:530px;
  }
  #hotel-service .title{
    font-size:25px; 
  }
  .picture-title{
    font-size:20px;
    padding:15px;
  }
  #footer-tab-pc{
    width:750px;
    font-family: NanumSquareOTFR;
    font-size: 20px;
    line-height: 1.55;
    text-align: left;
    color: #000000;
  }
  .icon-list{
    width:760px;
    
  }
  .icon-item{
    transform:scale(1);
    margin-right:5px;
  }
  #modal-content{
     width:80%;
     height: 600px;
  }
  #modal-vision{
    
  }
  #modal-vision-img{
    float:left;
    width:30%;
    height:100%;
    background-image:url('./image/003_banner.png');
    background-size: cover
  }

  #modal-vision-content{
    
    height:100%;
    float:left;
    width:70%;
    font-family: NanumSquareOTFR;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-left:60px;
    padding-right:10px;
  }
  .modal-content-title{
    font-family: NanumSquareOTFB;
    font-size: 30px;
    padding-bottom:30px;
  }
  .value-img{
    padding-left:1%;
    padding-right:1%;
  }
  .value-img .first{
    padding-top: 120px;
  }
  .value-img .second{
    padding-top: 50px;
  }
  .value-four-image{
    margin:0 !important;
    width:25%;
    height:100%;
    
  }
  .value-four-image img{
    margin-top: 110px;
    width:100%;
    height:auto;
  }
  .modal-header-title{
    padding-top:50px;
    font-size: 30px;
  }
  .modal-header-line{
    height:3px;
    width:54px;
  }
  .modal-header-sub-title{
    font-size: 18px;
  }
  .modal-career-content{
    padding-left:10px;
    padding-right:10px;
    padding-top: 60px;
  }
  .modal-career-content::after{
    content:'';
    display:block;
    clear:both;
  }
  .modal-career-item{
    width:21%;
    margin-left:1%;
    margin-right:1%;
    float:left;
  }
  
  .modal-career-item-img{
    width:auto;
    height:auto;
  }
  .modal-career-item-wrap{
    width:100%;
    
  }
  .modal-career-item-wrap *{
    text-align:center;
  }
  .triangle-wrap{
    width:2%;
    float:left;
  }
  .triangle{
    margin-top: 70px;
    margin-left:0;
    border:6px solid transparent;
    border-left:10px solid #b3b3b3
  }
  .modal-career-item-title{
    font-size:18px;
    padding-top:16px;
  }
  .modal-career-item-content{
    padding-top:20px;
    font-size:15px;
    text-align:left;
  }
}

@media screen and (min-width:1024px) {
  #header-container{
    width:1024px;
  }
  #ambition{
    min-height:500px;
  }
  #ambition-title{
    width:804px;
    height:205px;
    margin-left:auto;
    margin-right:auto;
  }
  .eng-title{
    font-size: 60px;
  }
  #ambition .content{
    
    font-size: 21px;
  }
  #hotel-service-picture{
    width:700px;
  }
  .picture-title{
    font-size:13px;
  }
  .picture-wrap{
    width:25%;
  }
  
  
  #footer-tab-pc{
    width:1024px;
  }
  .value-img .first{
    padding-top:80px;  
  }
  .value-img .second{
    height: 80%;
    width: auto;
  }
  .value-four-image img{
    margin-top:70px;
  }
  .modal-career-content{
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
  }
}
@media screen and (min-width:1200px){
  #header-container{
    width:1100px;
  }
  .section-head{
    font-size:18px;
  }
  .eng-title{
    font-size: 89px;
  }
  .section,
  #ambition.section{
    height:800px;
  }
  
  #ambition .content{
    
    font-size: 26.5px;
  }
  #ambition-title{
    padding-top: 150px;
  }
  #ambition .title{
    
  }
  #hotel-service{
    height:1000px;
  }
  #hotel-service .title{
    font-size: 48.5px;
    padding-top:160px;
  }
  #hotel-service .content{
    font-size: 28.5px;
    padding-top:22px;
    padding-bottom:48px;
  }
  #hotel-service-picture{
    width:1100px; 
  }
  .picture-title{
    font-size:20px;
  }
  #vision{
    padding-top:200px !important;
  }
  #definition,
  #value{
    float:left;
    width:50%;
  }
  #definition{
    padding-top:160px !important
  }
  #definition .eng-title{
    font-size:80px;
  }
  #definition .content{
    padding-top:115px;
    font-size: 26.5px;
  }

  #value .container{
    padding-top:100px;
    min-width:555px;
  }
  #value-title{
    font-size: 47px;
  }
  #value-content-header{
    font-size:29px;
    line-height: 1.23;
    letter-spacing: -0.6px;
    padding-bottom:15px;
  }
  .value-content{
    padding-top:25px;
  }
  .value-section-title,
  .value-section-content{
    font-size:25px;
    line-height:30px;
  }
  #career,
  #contact,
  #join{
    padding-top:200px !important;
  }
  .value-img .first{
    padding-top:20px;
    max-height:530px;
  }
  .value-four-image img {
    margin-top: 20px;
    max-width: 260px;
  }
  .modal-career-content{
    max-width:1000px;
  }
}